@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.logo1{
    width: 125px;
}
.navbar{
    font-family: "Signika Negative" ,sans-serif;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
}


.center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;


}

.expr{
    padding: 15px;
    border-radius: 20px;
}
.expr:hover{
    background-color:rgb(216, 215, 215);
    padding: 15px;
    color: rgb(0, 0, 0);
}


.rightsection{
    display: flex;
}
.usermain{
    border: 2px solid black;
    height: 50px;
    border-radius: 30px;
    width: 100px;
}
.rightsection img{
    width: 20px;
}
